@import '../../scss/variables.scss';

.header {
  height: 80px;
  padding: 22px;
  margin-bottom: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $background-color-base;
  font-size: 18px;
  line-height: 28px;
}

.link-area {
  a:not(:last-child) {
    margin-right: 27px;
  }
}

.sign-up {
  padding: 6px 18px 10px;
  color: $success-color;
  border: 1px solid $success-color;
  border-radius: 5px;
}
